h1{
    font-size: 60px;
    font-weight: 800;
    size: 20px;
    background-color: yellowgreen;
    font-style: oblique;
    text-decoration: underline;
    text-decoration-color: aliceblue;
    text-align-last: center;
    
    
    
}



img{
    width: 300px;
    height: 300px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border: 20px solid black;
    object-position: 10px;
    

   
    

}
body{
    background-color: rgb(255, 228, 205);
    background-size: contain ;
    
    
        
    
}
h2{ 
    text-align: center;
    text-decoration: underline;
}
ul{
    color: red;
    font-family: 'Times New Roman', Times, serif;
    list-style-type: square;
    margin: 40px;

}


